# Dépendances
node_modules/

# Environnement & Sécurité
.env
.env.local
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
dist/
build/

# Docker volumes & data (On ne versionne pas la BDD !)
postgres_data/
docker-init/